In [1]:
# Om Sai Ram

## 15th April - Python Intro and Variables

In [3]:
va = 9
va

9

In [5]:
id(va)

140731671194296

In [7]:
1nit = 19
1nit

SyntaxError: invalid decimal literal (3405626866.py, line 1)

In [8]:
nit1 = 18
nit1

18

In [9]:
nit2 = 4
NIT2

NameError: name 'NIT2' is not defined

In [10]:
nit2

4

In [11]:
v$ = 90
v$

SyntaxError: invalid syntax (434845991.py, line 1)

In [12]:
v_ = 90
v_

90

In [21]:
global = 90
global

SyntaxError: invalid syntax (261522172.py, line 1)

In [20]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [22]:
len(keyword.kwlist)

35

In [23]:
For = 67
For

67

In [24]:
def = 56
def

SyntaxError: invalid syntax (3552861974.py, line 1)

In [25]:
Def = 57
Def

57

In [26]:
a = 5
b = 7
c = 6
a
b
c

6

In [27]:
print(a)
print(b)
print(c)

5
7
6

In [28]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [29]:
import_1 = 89
import_1

89

In [30]:
name = "Varun Kumar"

In [39]:
for i in range(2):
    print(name)

Varun Kumar
Varun Kumar

In [40]:
# prompt: a python to print a triangle of "#"

def print_triangle(rows):
  for i in range(1, rows + 1):
    print("#" * i)

# Example usage:
print_triangle(5)

#
##
###
####
#####

In [41]:
# Om Sai Ram
# Om Sai Ram
# Om Sai Ram

## 16th April - Python Datatypes

### integer

In [42]:
i = 45
i

45

In [43]:
print(i)
print(type(i))

45
<class 'int'>

In [47]:
i1, i2 = 10 # invalid as we've assigned 2 values but defined 2 varibales

TypeError: cannot unpack non-iterable int object

In [49]:
i1, i2 = 10, 20
print(i1)
print(i2)
print(i1+i2)
print(i1-i2)
print(i1*i2)
print(i1/i2)

10
20
30
-10
200
0.5

### float

In [45]:
petrol = 110.56
petrol

110.56

In [46]:
type(petrol)

float

### string

In [50]:
s = srikrishna # invalid as the string should always be defined inside quotes' '
s

NameError: name 'srikrishna' is not defined

In [51]:
s = 'srikrishna'
s

'srikrishna'

In [52]:
type(s)

str

In [53]:
s1 = 'Sai'
s1

'Sai'

In [54]:
s2 = "sairam"
s2

'sairam'

In [55]:
s3 = '''Full Stack Data Science course
            It's a 6month course which had changed my career in to Golden world'''
s3

"Full Stack Data Science course\n            It's a 6month course which had changed my career in to Golden world"

### Indexing

In [56]:
s = 'nareshit'

In [59]:
print(s[0])
print(s[-1])
print(s[3])

n
t
e

### Slicing --> :

In [62]:
print(s[:])

nareshit

In [63]:
print(s[2:5])

res

In [64]:
print(s[2:8])

reshit

## 17th April - Bool, Complex Datatypes

In [65]:
true # invalid as in true T must be capital

NameError: name 'true' is not defined

In [66]:
True

True

In [67]:
false

NameError: name 'false' is not defined

In [68]:
False

False

In [70]:
b = True
b1 = False

In [71]:
b1

False

In [72]:
b

True

In [73]:
b + b1

1

In [77]:
print(b-b1)
print(b*b1)
print(b1/b) # float divison
print(b1//b) # int divison

1
0
0.0
0

In [78]:
type(b)

bool

## Complex

### a + bj
    . a - real part
    . b - imaginary part
    . j - square root of -1

In [80]:
c = 10 + 20j
c

(10+20j)

In [81]:
type(c)

complex

In [82]:
c.real

10.0

In [83]:
c.imag

20.0

In [84]:
c1 = 3 + 5J
c1

(3+5j)

In [85]:
print(c)
print(c1)

(10+20j)
(3+5j)

In [86]:
c + c1

(13+25j)

# Type casting or Type conversions

In [87]:
int(3.4) # float to int

3

In [90]:
int(3.4,5.67) # invlaid as Type casting allows only a single argument

TypeError: 'float' object cannot be interpreted as an integer

In [88]:
int(True) # bool to int

1

In [89]:
int(True, False)

TypeError: int() can't convert non-string with explicit base

In [91]:
int(False)

0

In [94]:
print(int(3.4))
print(int(True))
print(int("10"))

3
1
10

In [95]:
print(int(3+4j)) # invladi as typecasting doesn't allow complex datatype

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [96]:
print(int('ten')) # invalid as the typecasting allows strings with numbers only

ValueError: invalid literal for int() with base 10: 'ten'